@import "tailwindcss";

@theme {
  --color-accent-color: #5ec5d5;
}

:root {
  --background: #f9f9f7;
  --foreground: #2b2d2f;
  --accent-color: #5ec5d5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent-color: #5ec5d5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-satoshi), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  color-scheme: dark;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .embed-frame iframe {
    @apply w-full h-full border-0;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .embedded-html * {
    all: revert;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
    color: var(--foreground) !important;
    background-color: transparent !important;
    caret-color: var(--foreground) !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input {
    caret-color: var(--foreground);
  }
}
